<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.smartshade.remoteaiapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:label="Smart Shade"
        android:theme="@style/SplashTheme"
        android:networkSecurityConfig="@xml/network_security_config"
        tools:targetApi="24">
        <!-- Splash Activity (Launcher) -->
        <activity
            android:name=".SplashActivity"
            android:theme="@style/SplashTheme"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".TemperatureGraphActivity" />
        <activity android:name=".HumGraphActivity" />
        <activity android:name=".AQIGraphActivity" />


        <!-- Main Activity -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            tools:ignore="MissingClass" />
    </application>

</manifest>
